/* //import font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

/* tampilan body */
*{
 padding: 0;
 margin: 0;
}
main{
    padding: 20px;
}
/* tampilan header */
blockquote::before,
blockquote::after{
    content: '"';
    font-weight: bold;
    font-size: 24px;
    font-style: italic;
}
blockquote{
    text-align: center;
    font-size: 14px;
}
.header-kota{
    font-size: 15px;
    padding-top:20px;
    
    background-color: #03ABA4;
    text-align: center;
    color: white;
}

/* tampilan navbar */
nav{
    background-color: #027974;
    text-align: center;
    padding: 10px;
    width: auto;
}
nav li{
    display: inline-block;
    list-style-type: none;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 11px;
}
nav a:hover{
    background-color: #03ABA4;
}
header{
    width: 100%;
}

/* tampilan content web */
.content-prob{  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}
.caption-text{
    padding: 15px 20px 15px 0;
    font-size: 12px;
    font-weight: bold; 
    color:  #03ABA4 ;

}
.card{
    background-color: #03ABA4;  
    padding: 10px;
    color: white;
}
.image{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}
.text-content{
    text-align: justify;
    text-indent: 2em;
    line-height: 200%;
    color: #898989;
    margin-bottom: 15px;
    font-size: 14px;
}
strong{
    padding-bottom: 10px;
    color: #494e52;
    font-size: 12px;
}
/* tampilan footer */
footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}